﻿
.top_bar .main_bar {
    display: flex;

    margin: auto;
    flex-wrap: nowrap;
    background-color: #edf2f4;
}

    .top_bar .main_bar .contact_left {
        display: flex;
        flex-grow: 4;
        justify-content: flex-start;
        gap: 10px;
    }

        .top_bar .main_bar .contact_left .ct1 {
            border-left: 1px solid #ced4da;
            padding: 0 10px;
            background-position: left;
            padding-left: 20px;
            background-repeat: no-repeat;
        }

        .top_bar .main_bar .contact_left .ct2 {
            border-left: 1px solid #ced4da;
            border-right: 1px solid #ced4da;
            padding: 0 10px;
        }

    .top_bar .main_bar .login_right {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        gap: 10px;
    }

        .top_bar .main_bar .login_right button {
            border: 1px solid #ced4da;
        }

        .top_bar .main_bar .login_right input {
            margin-left: 10px;
            background-position: right;
            background-repeat: no-repeat;
        }

.main_content {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
}

    .main_content .ads1 {
        display: flex;
        width: 100%;
        height: 130px;
        margin: auto;
    }

        .main_content .ads1 .logo {
            //flex-basis: 350px;
            background-image: url(../Images/Logo_Vnexpress.png);
            flex-grow: 1;
            background-size: cover;
        }

        .main_content .ads1 .quangcao1 {
            //flex-basis: 430px;
            background-image: url(../Images/banner-ads-1.png);
            flex-grow: 1.5;
            background-size: cover;
        }

        .main_content .ads1 .quangcao2 {
            //flex-basis: 430px;
            background-image: url(../Images/banner-ads-2.png);
            flex-grow: 1.5;
            background-size: cover;
        }

    .main_content .type_bar {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin: auto;
    }

        .main_content .type_bar .type {
            flex-grow: 1;
            margin: 0;
            text-align: center;
            font-weight: bold;
            border-left: 1px solid #ced4da;
        }

    .main_content .page_content {
        display: flex;
        width: 65%;
        margin: auto;
        justify-content: center;
    }

        .main_content .page_content .mid_content {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            margin: 2%;
            border-right: 5px solid red;
            border-radius: 5px;
            box-shadow: 3px 0px 3px -1px #ced4da;
            align-content: flex-start;
        }

            .main_content .page_content .mid_content .header {
                margin: 0;
                text-align: center;
                padding-top: 0.5em;
                background-color: #ced4da;
                font-size: 1em;
                font-weight: bold;
                color: #c1121f;
                width: 20%;
                height: 1.5em;
                font-family: Arial;
            }

            .main_content .page_content .mid_content .header_of_mid_content {
                color: #9b2226;
                font-weight: bold;
                font-size: 1.3em;
                font-family: Arial;
                margin: 5px 0;
            }

            .main_content .page_content .mid_content .content_of_mid_content {
                margin: 5px 0;
                font-size: 1em;
                font-family: Arial;
                color: #534b52;
            }

ul {
    padding-left: 20px;
    color: #403d39;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bcamera {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border: 0;
    transform: translateY(5px);
}

.main_content .page_content .right_content {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0;
    justify-content: flex-end;
}

    .main_content .page_content .right_content .EL {
        margin: 0;
        margin-bottom: 5px;
        font-size: 1em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #34312d;
        background-color: #ced4da;
        padding-bottom: 5px;
        width: 70px;
        height: 20px;
        text-align: right;
        background-image: url(../Images/Ers.jpg);
        background-repeat: no-repeat;
        background-position: left;
    }

    .main_content .page_content .right_content .content_of_right_content {
        font-family: Arial;
        font-size: 1em;
        color: #534b52;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ced4da;
    }

    .main_content .page_content .right_content .right_below_content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 110px;
    }

        .main_content .page_content .right_content .right_below_content .GN {
            color: #9b2226;
            font-family: Arial;
            font-weight: bold;
            background: linear-gradient(to right, rgba(128,128,128,0.3) 0%, rgba(255,255,255,0.3) 100%);
            width: 50%;
            margin: 5px 0;
            padding: 10px;
        }

        .main_content .page_content .right_content .right_below_content .header_of_right_below_content {
            width: 50%;
            font-family: Arial;
            font-weight: bold;
            margin: 0;
        }

    .main_content .page_content .right_content .content_of_right_below_content {
        font-size: 0.9em;
        font-family: Arial;
        color: #534b52;
    }

.main_content .ads2 {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    align-content: flex-start;
}

    .main_content .ads2 .date_time {
        display: flex;
        flex-wrap: nowrap;
    }

        .main_content .ads2 .date_time .date {
            padding: 5px 10px;
            margin: 0;
        }

        .main_content .ads2 .date_time .qua {
            padding: 5px 10px;
            margin: 0;
            margin-right: 10px;
            background-color: #ced4da;
        }

        .main_content .ads2 .date_time .RSS {
            padding: 5px 10px;
            padding-right: 20px;
            margin: 0;
            background-color: #ced4da;
            font-weight: bold;
            background-position: right;
            background-repeat: no-repeat;
            text-align: left;
        }

    .main_content .ads2 .quangcao3 img {
        width: 100%;
        height: 100%;
        border: 1px solid #ced4da;
    }

hr {
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: red;
    box-shadow: 1px 2px 3px 1px #ced4da;
}

#ve {
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ced4da;
}

#home {
    width: 1em;
    height: 1em;
    padding: 0 5px;
}

#blike {
    background-color: #3a86ff;
    border-color: #3a86ff;
    border-radius: 3px;
    color: white;
    background-position: left;
    padding-left: 5px;
    background-repeat: no-repeat;
    text-align: center;
}

#bfollow {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
    border-radius: 3px;
    color: white;
    background-position: left;
    padding-left: 5px;
    background-repeat: no-repeat;
}

#byoutube {
    background-color: #FF0000;
    border-color: #FF0000;
    border-radius: 3px;
    color: white;
    background-position: left;
    padding-left: 5px;
    background-repeat: no-repeat;
}

#blive {
    background-color: #9b2226;
    color: white;
    font-size: 0.4em;
    border: 0;
}

#bcmt {
    background-color: transparent;
    color: #9b2226;
    border: 0;
    padding-left: 20px;
    padding-top: 9px;
    background-repeat: no-repeat;
    background-position: left;
    transform: translateY(5px);
    text-align: right;
}

#thumnails {
    width: 99%;
}

